form {
    margin: 0 auto;
    width: 70%;
}

form label {
    display: inline-block;
    height: 80px;
    width: 50%;
}

form label input {
    padding: 0;
    width: 98%;
}

form label span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

textarea {
    width: 99%;
    height: 150px;
}

.fill {
    width: 100%;
}

.type-of-event-input {
    margin: 0;
    width: 99%;
}

@media (max-width: 1000px) {
    form label {
        display: inline;
        height: 80px;
        width: 70%;
    }
}

@media (max-width: 900px) {
    form label input {
        width: 100%;
    }

    textarea {
        height: 150px;
    }

    .type-of-event-input {
        width: 100%;
    }
}