footer {
    color: #3e6cab;
    margin: 50px auto 20px auto;
    text-align: center;
    width: 80%;
}

footer a {
    color: #3e6cab;
}

.footer-divider {
    background-color: #d3d3d3;
    border-radius: 2px;
    height: 2px;
    margin-bottom: 50px;
    width: 100%;
}

.footer-text {
    font-size: 20px;
    margin: 5px 0;
    padding: 0;
}

.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social .icon {
    display: inline;
    margin: 0;
    padding: 0 3px;
}

.stroke {
    stroke-linecap: round;
}

