.gallery {
    display: inline-block;
    float: left;
    font-weight: bold;
    margin: 0 1%;
}

.gallery a:hover {
    color: lightgray;
}

.gallery-title {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.gallery-wrapper {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
}

.galleries {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
