.column {
    float: left;
    width: 32%;
    padding: .5%;
}

.column img {
    margin-top: 12px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 995px) {
    .column {
        padding: 1%;
        width: 48%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        padding: 1%;
        width: 98%;
    }
}