a {
    color: #000;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

body {
    color: #000;
    font-family: Garamond, sans-serif;
}

.tab {
    display: inline-block;
    font-weight: bold;
    margin: 0 20px;
}

.tabs {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
