a {
    color: #000;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

body {
    color: #000;
    font-family: Garamond, sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #fff;
    height: 100px;
    left: 0;
    line-height: 100px;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 2;
}

.collapsed-menu {
    display: none;
}

.dark-gray-text {
    color: #939393;
}

.dropdown-menu {
    background-color: #f9f9f9;
    display: none;
    padding-left: 1%;
    min-width: 200px;
    position: absolute;
    text-align: left;
    z-index: 1;
}

.dropdown-menu-options {
    cursor: pointer;
    font-weight: bold;
}

.dropdown-menu a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 3%;
}

.header-logo {
    height: 100px;
    left: 10px;
    position: absolute;
}

.header-logo img {
    height: 100px;
}

.header-wrapper {
    height: 100px;
    line-height: 100px;
}

.menu {
    display: none;
}

.menu-title {
    color: #939393;
    cursor: pointer;
    font-weight: bold;
}

.tab {
    display: inline-block;
    font-weight: bold;
    margin: 0 20px;
    position: relative;
}

.tab:hover .dropdown-menu {
    display: block;
}

.tab a:hover {
    color: #d3d3d3;
}

.tabs,
.tabs-small {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.tabs {
    display: inline-block;
}

.tabs-small {
    display: none;
}

.dropdown-menu-options:hover,
.tab-small a:hover {
    color: #3e6cab;
}

.tabs-small-expanded {
    display: block;
    font-weight: normal;
}

@media only screen and (max-width: 750px) {
    header {
        height: auto;
        line-height: normal;
        position: static;
    }

    .header-logo {
        position: static;
        text-align: center;
    }

    .menu {
        cursor: pointer;
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }

    .tabs {
        display: none;
    }

    .tabs-small {
        display: block;
    }
}
