.banner-image {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.banner-wrapper {
    color: white;
    font-size: 86px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.small-image {
    width: 33.3%;
}

.text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trio-images-wrapper {
    margin: 0 auto;
    width: 80%;
}


