.services-image {
    text-align: center;
}

.services-subtitle {
    font-size: 24px;
    margin: 10px 0 0 0;
    padding: 0;
}

.services-title {
    font-size: 26px;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

.services-quote {
    font-size: 18px;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: center;
}

.services-wrapper {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
}
